 <div _ngcontent-c11="" class="kx-container kx-mx--auto kx-container--tab-m kx-my--large" id="homecomponent">
    <br>
   <br>
   <br>
   <br>



<div class="home-component-inner">

     <br>
     <br>

    
    <div class="kx-row kx-row--gutters">
       &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="favoriteitem ng-tns-c12-1 ng-tns-c11-0 ng-trigger ng-trigger-fade ng-star-inserted" _nghost-c12="" draggable="false">
    <div class="kx-card ng-trigger ng-trigger-favoriteItemAnimation" id="favoriteitem" style="transform: scale(1);">
        <div class="kx-card kx-card--skin-default" style="transform: scale(1); background-color: lightblue;" routerLink="/NewRequest">
            
    <header class="kx-card__header" id="header-icon"></header>
    <div class="kx-card__body" appgesture="" id="gestureevent" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(29, 4, 4, 0);">
    <i  class="kx-icon kx-icon--size-xxxlarge ng-tns-c12-1 ng-star-inserted" style=""><svg _ngcontent-c12="" class="ng-tns-c12-1" aria-hidden="true" focusable="false">
    <use class="ng-tns-c12-1" xlink:href="./assets/img/icons/sprites/icons.svg#plus" xmlns:xlink="http://www.w3.org/1999/xlink">
    </use>
    </svg>
    </i>
    </div>
    <div class="kx-card__footer" appgesture="" id="gestureevent" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(34, 5, 5, 0);">New Request </div>
    </div>
  </div>
  </div>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="favoriteitem ng-tns-c12-1 ng-tns-c11-0 ng-trigger ng-trigger-fade ng-star-inserted" _nghost-c12="" draggable="false">
      <div class="kx-card ng-trigger ng-trigger-favoriteItemAnimation" id="favoriteitem" style="transform: scale(1);">
          <div class="kx-card kx-card--skin-default" style="transform: scale(1); background-color: lightblue;">
      <header class="kx-card__header" id="header-icon"></header>
      <div  class="kx-card__body" appgesture="" id="gestureevent" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(29, 4, 4, 0);">
      <i class="kx-icon kx-icon--size-xxxlarge ng-tns-c12-1 ng-star-inserted" style=""><svg _ngcontent-c12="" class="ng-tns-c12-1" aria-hidden="true" focusable="false">
          <use  class="ng-tns-c12-1" xlink:href="./assets/img/icons/sprites/icons.svg#plus" xmlns:xlink="http://www.w3.org/1999/xlink">
          </use>
      </svg>
      </i>
      </div>
      <div class="kx-card__footer" appgesture="" id="gestureevent" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(34, 5, 5, 0);">View Request </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div> 


